#heart{
    background-color: purple;
    height: 500px;
    width: 599px;
    margin: auto;
}
#one{
    background-color: white;
    height: 150px;
    width: 150px;
    transform: rotate(50deg);
    position: relative;
    top: 197px;
    margin: auto;
}
#two{
    background-color: white;
    border-radius: 50%;
    width: 148px;
    height: 150px;
    margin-left: 185px
}
#three{
    background-color:white;
    border-radius: 50%;
    width: 145px;
    height: 150px;
    margin-top:-149px;
    margin-left: 283px;
}